@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC&display=swap');

@mixin textTheme() {
    font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
}

html {
    font-size: 16px;
    min-width: 320px;
}

@media (max-width: 540px) {
    html {
        font-size:87.5%;
    }
}

html {
    @include textTheme();
}

nav {
    padding: 0 1rem 0 1rem;
}

footer {
    text-align: center;
    margin: 2rem 0 2rem 0;
    
    hr {
        border-color: rgba(255, 255, 255, 0.30);
    }
    
}


